.about-container {
    background-color: #191919;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.about-content {
    justify-content: center;
    display: grid;
    grid-template-columns: calc(50vw) calc(35vw);
    gap: calc(2vw);
    margin: 25px 50px;
}

.left-column {
    text-align: left;
    padding-bottom: 25px;
    padding-top: 50px;
}

.right-column {
    padding-top: 60px;
}

.about-header {
    font-size: 128px;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c6c0af;
    margin-bottom: 0px;
}

.about-subheader, .about-paragraph, .about-subheader-2 {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c6c0af;
}

.about-subheader {
    font-size: 32px;
}

.about-subheader-2 {
    font-size: 24px;
}

.about-paragraph {
    font-size: 16px;
}

.profile-picture {
    max-width: 100%;
    height: auto;
}

.about-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-button {
    padding: 8px 16px;
    background-color: #c6c0af;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    color: #191919;
    font-size: 24px;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 5%;
}

.about-button:hover{
    background-color: #191919;
    color: #c6c0af;
    cursor: pointer;
}

.line7 {
    width: 45%;
    height: 1px;
    background-color: #c6c0af;
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
}

.line8 {
    width: 1px;
    height: 50%;
    background-color: #c6c0af;
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
}

.line9 {
    width: 45%;
    height: 1px;
    background-color: #c6c0af;
    margin: 0;
    position: relative;
    left: 50px;
    bottom: 21px;
}

@media (max-width: 925px) {
    .about-header {
        font-size: 100px;
    }

    .about-subheader {
        font-size: 24px;
    }

    .about-subheader-2 {
        font-size: 20px;
    }

    .about-paragraph {
        font-size: 14px;
    }

    .about-button {
        font-size: 20px;
    }
}

@media (max-width: 750px){
    .profile-picture {
        max-width: 0%;
    }

    .about-content {
        grid-template-columns: 1fr 0fr;
        gap: 0;
    }
}

@media (max-width: 400px) {
    .about-header {
        font-size: 65px;
    }

    .about-subheader {
        font-size: 18px;
    }

    .about-subheader-2 {
        font-size: 16px;
    }

    .about-paragraph {
        font-size: 12px;
    }

    .about-button {
        font-size: 16px;
    }
}