body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.contact-container {
    background-color: #191919;
    height: 100vh;
    display: flex;
    padding: 25px;
}

.contact-content {
    text-align: left;
    width: 600px;
    color: #BEB7A4;
    margin-left: 15%;
    margin-top: 30%;
}

.contact-title {
    font-size: 128px;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #BEB7A4;
    margin-bottom: 0px;
}

.contact-description {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #BEB7A4;
    margin-bottom: 15px;
}
.contact-online {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #BEB7A4;
    text-decoration: none;
    display: block;
}

.contact-online a {
    color: #BEB7A4;
    text-decoration: none;
}

.contact-online a:hover {
    color: #3746CE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line4 {
    width: 45%;
    height: 1px;
    background-color: #BEB7A4;
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
}

.line5 {
    width: 1px;
    height: 50%;
    background-color: #BEB7A4;
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
}

.line6 {
    width: 45%;
    height: 1px;
    background-color: #BEB7A4;
    margin: 0;
    position: absolute;
    left: 50px;
    bottom: 21px;
}