.contact-container {
    background-color: #191919;
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact-content-container {
    display: flex;
    text-align: left;
    width: 600px;
    margin-left: 110px;
}

.contact-title {
    font-size: 128px;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c6c0af;
    margin-bottom: 0px;
}

.contact-description {
    width: 410px;
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #c6c0af;
    margin-bottom: 15px;
}
.contact-online {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #c6c0af;
    text-decoration: none;
    display: block;
}

.contact-online a {
    color: #c6c0af;
    text-decoration: none;
}

.contact-online a:hover {
    text-decoration: underline;
}

.line4 {
    width: 45%;
    height: 1px;
    background-color: #c6c0af;
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
}

.line5 {
    width: 1px;
    height: 50%;
    background-color: #c6c0af;
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
}

.line6 {
    width: 45%;
    height: 1px;
    background-color: #c6c0af;
    margin: 0;
    position: absolute;
    left: 50px;
    bottom: 21px;
}

@media (max-width: 675px) {
    .contact-content-container {
        width: 475px;
    }
    .contact-title{
        font-size: 100px;
    }

    .contact-description, .contact-online{
        font-size: 14px;
    }

    .contact-description {
        width: 360px;
    }

    .contact-content-container {
        margin: 0px 15%;
    }
}

@media (max-width: 585px) {

    .contact-content-container {
        width: 350px;
    }
    .contact-title{
        font-size: 80px;
    }

    .contact-description, .contact-online{
        font-size: 12px;
    }

    .contact-description {
        width: 310px;
    }

    .contact-content-container {
        margin: 0px 15%;
    }
}

@media (max-width: 400px) {
    .contact-container{
        overflow: hidden;
    }
}