.contact-container {
    background-color: #191919;
    height: 100vh;
}

.contact-content-container {
    display: flex;
    justify-content: left;
    text-align: left;
    width: 700px;
}

.contact-content {
    margin-left: 15%;
    margin-top: 20%;
}

.contact-title {
    font-size: 128px;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c6c0af;
    margin-bottom: 0px;
}

.contact-description {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #c6c0af;
    margin-bottom: 15px;
}
.contact-online {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #c6c0af;
    text-decoration: none;
    display: block;
}

.contact-online a {
    color: #c6c0af;
    text-decoration: none;
}

.contact-online a:hover {
    text-decoration: underline;
}

.line4 {
    width: 45%;
    height: 1px;
    background-color: #c6c0af;
    margin: 0;
    position: relative;
    right: 25px;
    top: 25px;
}

.line5 {
    width: 1px;
    height: 50%;
    background-color: #c6c0af;
    margin: 0;
    position: relative;
    right: 25px;
    top: 25px;
}

.line6 {
    width: 45%;
    height: 1px;
    background-color: #c6c0af;
    margin: 0;
    position: relative;
    left: 50px;
    bottom: 21px;
}