.home-container {
    background-color: #c6c0af;
    height: 100vh;
}

.home-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-header-container {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    margin-right: 20px;
    margin-top: 100px;
    width: 450px;
    color: #191919;
}

.name {
    font-weight: bold;
}

.divider {
    width: 1px;
    height: 400px;
    background-color: #191919;
    margin: 0;
}

.home-nav-container {
    text-align: left;
    width: 800px;
    margin-left: 20px;
}

.home-nav-link {
    font-size: 165px;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #191919;
    margin: 0;
    line-height: 0.85;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.home-nav-link:hover {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.line1 {
    width: 45%;
    height: 1px;
    background-color: #191919;
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
}

.line2 {
    width: 1px;
    height: 50%;
    background-color: #191919;
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
}

.line3 {
    width: 45%;
    height: 1px;
    background-color: #191919;
    margin: 0;
    position: absolute;
    left: 50px;
    bottom: 21px;
}

/* Additions: Media queries for different screen sizes */
@media (max-width: 768px) {
    .home-content-container {
        flex-direction: column;
        justify-content: flex-start;
        justify-content: center;
    }

    .home-header-container {
        font-size: 12px;
        width: 90%;
        margin: 30px 10px;
        text-align: center; /* Center text for better readability */
    }

    .divider {
        height: 1px;
        width: 50%; /* Make divider full width for better visual separation */
        margin: 20px 0; /* Add margin for spacing */
    }

    .line1, .line2, .line3 {
        width: 0;
        height: 0;
    }

    .home-nav-container {
        width: 90%;
        margin: 20px 10px;
        text-align: center; /* Center text for better readability */
    }

    .home-nav-link {
        font-size: 90px;
    }
}

@media (max-width: 480px) {
    .home-header-container {
        font-size: 10px;
        width: 100%;
        margin: 15px 5px;
        text-align: center; /* Center text for better readability */
        justify-content: center;
        
    }

    .divider {
        height: 1px;
        width: 50%; /* Make divider full width for better visual separation */
        margin: 10px 0; /* Add margin for spacing */
    }

    .line1, .line2, .line3 {
        width: 0;
        height: 0;
    }

    .home-nav-container {
        width: 100%;
        margin: 10px 5px;
        text-align: center; /* Center text for better readability */
    }

    .home-nav-link {
        font-size: 80px;
    }
}