.project-container {
    background-color: #c6c0af;
    overflow: auto;
}

.project-content-container {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 50px;
}

.project-title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 75vh;
    background-color: #191919;
}

.project-title {
    font-size: 165px;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c6c0af;
    text-align: center;
    margin-bottom: 5%;
}

.project-subheader-container, .project-content, .features-list, .project-subheader3, .project-overview-container{
    margin-left: 7%;
    margin-right: 7%;
}

.project-subheader {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #191919;
}

.project-overview-container {
    display: flex;
    flex-direction: row;
}

.projec-overview-content-container {
    flex: 1;
    padding: 20px;
}

.project-subheader2, .project-overview-description, .project-content, .features-list, .project-subheader3 {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #191919;
    text-align: left;
}

.project-subheader2, .project-subheader3 {
    text-decoration: underline;
}

.github-button, .url-button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #191919;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    color: #c6c0af;
    font-size: 24px;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.github-button:hover, .url-button:hover {
    background-color: #c6c0af;
    color: #191919;
    cursor: pointer;
}

.project-image {
    width: 100%;
}

.pennywise-image {
    width: 75%;
}

.line10 {
    width: 45%;
    height: 1px;
    background-color: #191919;
    margin: 0;
    position: relative;
    left: 50px;
    bottom: 21px;
}

ul {
    list-style-type: none;
}

ul li:before {
    content: '\2013';
    position: absolute;
    margin-left: -30px;
}

@media (max-width: 950px){
    .project-title {
        font-size: 128px;
    }

    .project-subheader{
        font-size: 28px;
    }

    .project-subheader2, .project-overview-description, .project-content, .features-list, .project-subheader3 {
        font-size: 16px;
    }

    .github-button, .url-button {
        font-size: 20px;
    }

    .project-overview-container {
        flex-direction: column;
    }

    .projec-overview-content-container {
        flex: 1;
        padding: 0px;
    }
}

@media (max-width: 750px){
    .project-content-container {
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 50px;
    }

    .project-title {
        font-size: 100px;
    }

    .project-subheader{
        font-size: 24px;
    }

    .project-subheader2, .project-overview-description, .project-content, .features-list, .project-subheader3 {
        font-size: 14px;
    }

    .github-button, .url-button {
        font-size: 18px;
    }
}

@media (max-width: 575px){

    .project-title {
        font-size: 80px;
    }

    .project-subheader{
        font-size: 20px;
    }

    .project-subheader2, .project-overview-description, .project-content, .features-list, .project-subheader3 {
        font-size: 12px;
    }

    .github-button, .url-button {
        font-size: 16px;
    }
}

@media (max-width: 400px){
    .project-content-container {
        margin-left: 11%;
        margin-right: 11%;
    }

    .project-title-container {
        height: 65vh;
    }

    .project-title {
        font-size: 50px;
    }
}