.sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vh - 50px);
    position: fixed;
    bottom: 0px;
    left: 25px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.copyright-container {
    flex: 1;
    text-align: left;
    font-family: "Gruppo", sans-serif;
    font-size: 16px;
    color: #c6c0af;
}

.line-container {
    flex: 7;
    display: flex;
    justify-content: flex-end;
}

.sidebar-line {
    width: 30%;
    height: 1px;
    background-color: #c6c0af;
}

.link-container {
    flex: 1;
    text-align: right;
}

.sidebar-link {
    font-family: "Gruppo", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #c6c0af;
    margin-left: 20px;
}

.sidebar-link:hover {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}