.sidebar {
    position: fixed;
    bottom: 0px;
    left: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    transform: rotate(-90deg);
    transform-origin: left top;
    width: calc(100vh - 50px);
    justify-content: space-between;
}

.copyright-container {
    font-family: "Gruppo", sans-serif;
    font-size: 16px;
    color: #c6c0af;
    margin-top: 2px;
}

.sidebar-link {
    font-family: "Gruppo", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #c6c0af;
    margin-left: 20px;
}

.sidebar-link:hover {
    text-decoration: underline;
}